<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../public/resources/css/style.css">
    <title>VICTOR | PORYECTOS</title>
</head>
<body>
    <header>
        <nav class="nav-list">
            <ul class="list-ul">
                <li class="link-li"><a href="../../index.html">Home</a></li>
                <li class="link-li"><a href="./proyectos.html">Proyectos</a></li>
                <li class="link-li"><a href="./estudios.html">sertificados</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="modo">
            <img src="./../../public/others/imgs/modo/luna-modo-oscuro.png" alt="icono de luna">
            <img src="./../../public/others/imgs/modo/sol-modo-claro.png" alt="icono de sol">
        </article>
        <h1>PROYECTOS DESARROLADOS</h1>
        <article class="proyecttos-principales">
            <section class="box-proyecto-principale box1">
                <div class="img-link-proyecto">
                    <img src="" alt="imagen de proyecto demo">
                    <a href="#">more</a>
                </div>
                <!-- imegenes cun click en more con focus-->
                 <div class="imganes-invisibles">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                 </div>
                <h3>CRUD DE USUARIOS</h3>
                <a href="#">demo</a>
            </section>
            <section class="box-proyecto-principale box2">
                <div class="img-link-proyecto">
                    <img src="" alt="imagen de proyecto demo">
                    <a href="#">more</a>
                </div>
                <!-- imegenes cun click en more con focus-->
                 <div class="imganes-invisibles">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                 </div>
                <h3>SISTEMA DE ALAMCEMANIENTO</h3>
                <a href="#">demo</a>
            </section>
            <section class="box-proyecto-principale box3">
                <div class="img-link-proyecto">
                    <img src="" alt="imagen de proyecto demo">
                    <a href="#">more</a>
                </div>
                <!-- imegenes cun click en more con focus-->
                 <div class="imganes-invisibles">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                    <img src="" alt="imagen de proeycto">
                 </div>
                <h3>LOGIN DE USUARIOS</h3>
                <a href="#">demo</a>
            </section>
        </article>
        <article class="otros-proyectos">
            <section class="box-otro-proyecto">
                <section class="imagen-principal-link">
                    <img src="" alt="imgene de proyecto">
                    <a href="#">more</a>
                </section>
                <!-- seccion invisible -->
                <div class="imgenes-proyecto">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                </div>
                <section class="info-proyecto">
                    <h2>nombre de proyecto</h2>
                    <p class="descripcion-proyecto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa modi similique recusandae quibusdam, quaerat laborum soluta sequi, nulla ex accusantium temporibus dicta repellendus maiores tempora quisquam nemo et, molestiae corrupti?</p>
                    <h3>tecnologias</h3>
                    <div class="icon-tec-proyecto-link">
                        <div class="tec">
                            <img src="" alt="icono de tec">
                            <img src="" alt="icono de tec">
                            <img src="" alt="icono de tec">
                        </div>
                        <a href="#">demo</a>
                    </div>
                </section>
            </section>
            <section class="box-otro-proyecto">
                <section class="imagen-principal-link">
                    <img src="" alt="imgene de proyecto">
                    <a href="#">more</a>
                </section>
                <!-- seccion invisible -->
                <div class="imgenes-proyecto">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                </div>
                <section class="info-proyecto">
                    <h2>nombre de proyecto</h2>
                    <p class="descripcion-proyecto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa modi similique recusandae quibusdam, quaerat laborum soluta sequi, nulla ex accusantium temporibus dicta repellendus maiores tempora quisquam nemo et, molestiae corrupti?</p>
                    <h3>tecnologias</h3>
                    <div class="icon-tec-proyecto-link">
                        <div class="tec">
                            <img src="" alt="icono de tec">
                            <img src="" alt="icono de tec">
                            <img src="" alt="icono de tec">
                        </div>
                        <a href="#">demo</a>
                    </div>
                </section>
            </section>
            <section class="box-otro-proyecto">
                <section class="imagen-principal-link">
                    <img src="" alt="imgene de proyecto">
                    <a href="#">more</a>
                </section>
                <!-- seccion invisible -->
                <div class="imgenes-proyecto">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                    <img src="" alt="imagen proyectos">
                </div>
                <section class="info-proyecto">
                    <h2>nombre de proyecto</h2>
                    <p class="descripcion-proyecto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa modi similique recusandae quibusdam, quaerat laborum soluta sequi, nulla ex accusantium temporibus dicta repellendus maiores tempora quisquam nemo et, molestiae corrupti?</p>
                    <h3>tecnologias</h3>
                    <div class="icon-tec-proyecto-link">
                        <div class="tec">
                            <img src="" alt="icono de tec">
                            <img src="" alt="icono de tec">
                            <img src="" alt="icono de tec">
                        </div>
                        <a href="#">demo</a>
                    </div>
                </section>
            </section>
        </article>
    </main>
    <footer>
        <p>desarrollado por victor hugo huallpa huahuacondori</p>
    </footer>
</body>
</html>