@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* FONDO */
  --color-bg: #ECEFF4;

  /* TEXTO */
  --color-text-primary: #2E3440;
  --color-text-secondary: #4C566A;

  /* ACENTOS */
  --color-primary: #5E81AC;
  --color-primary-hover: #81A1C1;

  /* FUENTES */
  --font-family-primary: 'Roboto', sans-serif;
  --font-weight-regular: 400; /* Peso normal para párrafos */
  --font-weight-bold: 700;    /* Peso para títulos o texto destacado */
  
  /* TAMAÑOS DE FUENTE (Opcional, pero útil para escalabilidad) */
  --font-size-base: 1rem;       /* Tamaño base del párrafo (16px) */
  --font-size-h1: 2.5rem;       /* Tamaño para el H1 */
  --font-size-h2: 2rem;         /* Tamaño para el H2 */
  --font-size-small: 0.875rem;  /* Tamaño para texto pequeño (ej: footer) */

  /* EXTRAS */
  --color-border: #D8DEE9;
  --color-card-bg: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
}

body, html{
  max-width: 100vw;
  min-height: 100vh;
}

body {
  margin:0 3%;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-family-primary); 
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

/* ------------ HEADRE ------------ */
header{
  position: fixed;
  height: 4.8rem;
  width: 94%;
  display: flex;
  justify-content: center;
}

header > .header{
  height: 90%;
  width: 75%;
  padding: .2rem 2.7em;
  display: flex;
  justify-content: space-between;
  background: var(--color-border);
  border-radius: 0 0 12px 12px;
}

/* logo  */
header > .header > a{
  height: 95%;
  margin: 0 .5rem;

}
header > .header > a > img{
  height: 100%;
  border-radius: 50%;
}

/* navegacion */
header > .header nav{
  width: 70%;
  margin: 0.5rem;
}
header > .header nav > ul{
  height: 85%;
  margin: 0 2.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}
header > .header nav > ul > li{
  margin: 0 .5rem;
}

header > .header nav > ul > li > a{
  text-decoration: none;
  font-family: var(--font-family-primary);
  color: var(--color-text-secondary);
  font-weight: 350;
}

header > .header nav > ul > li > a:hover{
  color: var(--color-primary-hover);
  text-decoration: underline;
}

/* tema o modo (oscuro claro) */
header > .header > .tema{
  height: 100%;
  width: 4%;
  margin: 0 .5rem;
  display: flex;
  align-items: center;

}

header > .header > .tema > .content-tema{
  height: 30%;
  width: 100%;
  padding: 4% 5%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-card-bg);
  border-radius: 50px;
  cursor: pointer;

}
header > .header > .tema > .content-tema > div {
  height: 100%;
}

header > .header > .tema > .content-tema > div > img{
  height: 100%;
}

