:root {
  /* Fondo */
  --color-bg: #ECEFF4;

  /* Texto */
  --color-text-primary: #2E3440;
  --color-text-secondary: #4C566A;

  /* Acentos */
  --color-primary: #5E81AC;
  --color-primary-hover: #81A1C1;

  /* Extras */
  --color-border: #D8DEE9;
  --color-card-bg: #FFFFFF;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: 'Roboto', sans-serif;
}
